<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BingWallpaper下载</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- jQuery文件 -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <button class="btn btn-primary" onclick="addQuartzJob()">下载</button>

</div>

</body>
</html>