<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >-->
<head>
    <meta charset="UTF-8">
    <title>微博热搜榜</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <!-- jQuery文件 -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        function getWeiboHot() {
            $("#weibohottable").html('');
            $.get("/weibo/hot", function (data) {
                var inner = "<thead><tr><td>序号</td><td>关键字</td><td>热度</td></tr></thead><tbody>";
                var baseUrl = "https://s.weibo.com";
                for (var i = 0; i < data.length; i++) {
                    var hot = data[i];
                    var weibohotjson = JSON.stringify(hot);
                    var weibohotObject = JSON.parse(weibohotjson);
                    if ("" != weibohotObject.channel && "0" != weibohotObject.rank) {
                        inner = inner + "<tr><td><span style='color: #F26D5F'>"
                            + weibohotObject.rank + "</span></td><td><a class='weibo" + i + "' target='_blank' href='" + baseUrl + weibohotObject.linkUrl + "'>"
                            + weibohotObject.title + "</a></td><td>"
                            + weibohotObject.hotNum;
                        if (weibohotObject.channel == "沸") {
                            inner = inner + "&nbsp;&nbsp;<span class='hotNumSpan_fei'>&nbsp;" + weibohotObject.channel + "&nbsp;</span></td>";
                        }
                        if (weibohotObject.channel == "热") {
                            inner = inner + "&nbsp;&nbsp;<span class='hotNumSpan_re'>&nbsp;" + weibohotObject.channel + "&nbsp;</span></td>";
                        }
                        if (weibohotObject.channel == "新") {
                            inner = inner + "&nbsp;&nbsp;<span class='hotNumSpan_xin'>&nbsp;" + weibohotObject.channel + "&nbsp;</span></td>";
                        }
                        if (weibohotObject.channel == "荐") {
                            inner = inner + "&nbsp;&nbsp;<span class='hotNumSpan_jian'>&nbsp;" + weibohotObject.channel + "&nbsp;</span></td>";
                        }
                        if (weibohotObject.channel == "爆") {
                            inner = inner + "&nbsp;&nbsp;<span class='hotNumSpan_bao'>&nbsp;" + weibohotObject.channel + "&nbsp;</span></td>";
                        }
                        inner = inner + "</tr>";

                    } else {
                        inner = inner + "<tr><td><span style='color: #F26D5F'>"
                            + weibohotObject.rank + "</span></td><td><a class='weibo" + i + "' target='_blank' href='" + baseUrl + weibohotObject.linkUrl + "'>"
                            + weibohotObject.title + "</a></td><td>"
                            + weibohotObject.hotNum + "</td>"
                            + "</tr>";
                    }
                    $(".container table").on('mouseover', '.weibo' + i, function () {
                        console.log("show " + $(this).attr('href'));
                        $(".hotThumb").css({
                            "display": "block"
                        });
                    });
                    $(".container table").on('mouseout', '.weibo' + i, function () {
                        $(".hotThumb").css({
                            "display": "none"
                        });
                    });
                }
                inner = inner + "</tbody>";
                $("#weibohottable").append(inner);
            });
            $("#nowDate").text(timeFormat(new Date()));

            //页面上显示当前时间
            setInterval(function () {
                var date = new Date();
                var year = date.getFullYear(); //获取当前年份
                var mon = date.getMonth() + 1; //获取当前月份
                var da = date.getDate(); //获取当前日
                var day = date.getDay(); //获取当前星期几
                var h = date.getHours(); //获取小时
                var m = date.getMinutes(); //获取分钟
                var s = date.getSeconds(); //获取秒
                var d = document.getElementById('Date');
                switch (day) {
                    case 1:
                        day = "一";
                        break;
                    case 2:
                        day = "二";
                        break;
                    case 3:
                        day = "三";
                        break;
                    case 4:
                        day = "四";
                        break;
                    case 5:
                        day = "五";
                        break;
                    case 6:
                        day = "六";
                        break;
                    case 7:
                        day = "日";
                        break;
                }
                if (mon < 10) {
                    mon = "0" + mon;
                }
                if (da < 10) {
                    da = "0" + da;
                }
                if (h < 10) {
                    h = "0" + h;
                }
                if (m < 10) {
                    m = "0" + m;
                }
                if (s < 10) {
                    s = "0" + s;
                }
                d.innerText = year + '年' + mon + '月' + da + '日' + ' 星期' + day + ' ' + h + ':' + m + ':' + s;
            }, 1000);
        }

        //格式化时间字符串
        function timeFormat(now) {

            var year = now.getFullYear();       //年
            var month = now.getMonth() + 1;     //月
            var day = now.getDate();            //日

            var hh = now.getHours();            //时
            var mm = now.getMinutes();          //分
            var ss = now.getSeconds();           //秒

            var clock = year + "-";

            if (month < 10)
                clock += "0";

            clock += month + "-";

            if (day < 10)
                clock += "0";

            clock += day + " ";

            if (hh < 10)
                clock += "0";

            clock += hh + ":";
            if (mm < 10) clock += '0';
            clock += mm + ":";

            if (ss < 10) clock += '0';
            clock += ss;
            return (clock);
        }
    </script>
    <style type="text/css">
        .hotThumb {
            display: none;
        }
        .hotNumSpan_fei {
            background-color: #F86400;
            color: white;
            border-radius: 5px;
        }
        .hotNumSpan_re {
            background-color: #FF9460;
            color: white;
            border-radius: 5px;
        }
        .hotNumSpan_xin {
            background-color: #FF3852;
            color: white;
            border-radius: 5px;
        }
        .hotNumSpan_jian {
            background-color: #00B7EE;
            color: white;
            border-radius: 5px;
        }
        .hotNumSpan_bao {
            background-color: RED;
            color: white;
            border-radius: 5px;
        }
        h6{
            display: inline-block;
        }
    </style>
</head>
<body onload="getWeiboHot()">

<div class="container">
    <h3>微博热搜榜</h3>
    <h6 id="Date"></h6>
    <div style="display: inline-block;float: right;">
        <span>更新时间</span>
        <h6 id="nowDate"></h6>
        <button type="button" class="btn btn-primary btn-xs" onclick="getWeiboHot()">刷新</button>
    </div>

    <table class="table table-bordered table-striped table-hover" id="weibohottable">

    </table>

    <div class="hotThumb" >
    </div>

</div>

</body>
</html>